#root {
  width: 100%;
}
.wrapper {
  width: 100%;
  float: left;
  padding: 16px;
}
.todo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 40px;
}
.form {
  max-width: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-action {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-icon {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

header {
  width: 100%;
  float: left;
  padding: 24px;
  background-color: var(--clr-primary);
  color: var(--clr-white);
}
header h1 {
  font-size: 24px;
  font-weight: 600;
}

/* input search */

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #e6e6e6;
  padding: 20px;
  margin-block: 16px;
}
.input-wrapper img {
  width: 18px;
}
.input-wrapper input {
  width: 100%;
  font-size: 18px;
  color: var(--input-color);
  outline: none;
}

/* accordion */

.todo-container {
  width: 520px;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.todo-section {
  margin-bottom: 14px;
}

.todo-header {
  width: 100%;
  border: none;
  background: #f4f7fb;
  padding: 14px 16px;
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-header-title {
  font-size: 15px;
  color: var(--clr-black-600);
  text-transform: capitalize;
}

.todo-count {
  font-weight: 600;
  color: var(--clr-black-600);
  margin-left: 8px;
}

.todo-arrow {
  font-size: 18px;
  color: var(--clr-primary);
  transform: rotate(180deg);
  transition: 0.2s ease;
}

.todo-arrow.open {
  transform: rotate(0deg);
}

.todo-body {
  background: var(--clr-white);
  padding: 6px 0;
  border-radius: 6px;
}

/* Todo Card */
.todo-card {
  display: flex;
  align-items: flex-start;
  padding: 18px 10px;
  border-bottom: 1px solid #ddd;
  gap: 24px;
}

.todo-card:hover {
  background: #f7f7f7;
}

.todo-left {
  display: flex;
  gap: 14px;
}

.todo-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--clr-primary);
  text-transform: uppercase;
}

.todo-text {
  max-width: 340px;
  text-transform: capitalize;
}

.todo-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 6px;
  text-transform: capitalize;
}

.todo-desc {
  font-size: 14px;
  color: var(--clr-black-600);
  margin-bottom: 8px;
  line-height: 1.3;
}

.todo-date {
  font-size: 12px;
  color: #767676;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

/* Status Colors */
.status-dot.progress {
  background: #ffb03c;
}

.status-dot.pending {
  background: #d0d0d0;
}

.status-dot.completed {
  background: #368a04;
}

.no-data {
  text-align: center;
  margin-block: 16px;
}
.todo-status {
  text-transform: capitalize;
}

.todo-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-action-items {
  display: flex;
  align-items: center;
  gap: 16px;
  display: none;
}
.todo-action-items img {
  cursor: pointer;
}
.todo-right {
  width: 100%;
  max-width: 720px;
}

.todo-title-sec {
  display: flex;
  justify-content: space-between;
}

.todo-card:hover .todo-action-items {
  display: flex;
}

.header-with-back {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-with-back img {
  cursor: pointer;
  width: 36px;
}

@media (max-width: 1280px) {
  .todo-action-items {
    display: flex;
  }
}
