:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --input-color: #66676b;
  --clr-primary: #034ea2;
  --clr-white: #fff;
  --clr-black-600: #231f20;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  float: left;
  min-height: 100vh;
  background-color: var(--clr-white);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

select {
  background-color: var(--clr-white);
  color: 66676b;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: var(--input-color);
}

select::placeholder {
  color: var(--input-color);
}
option {
  color: var(--input-color);
}
button {
  height: 40px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #dddddd40;
  min-width: 120px;
  outline: none;
  cursor: pointer;
}

.input {
  width: 100%;
  display: block;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: var(--input-color);
  background-color: var(--clr-white);
}
.btn-primary {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border: 1px solid var(--clr-primary);
}
.btn-outline-primary {
  background-color: var(--clr-white);
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}
.pointer-events-none {
  pointer-events: none;
  opacity: 0.5;
}
.err-text {
  color: red;
  margin-top: 4px;
}

/* select box styles */
.select-wrapper {
  width: 100%;
  position: relative;
  font-family: Arial, sans-serif;
}

.select-box {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #fff;
  color: var(--input-color);
}

.select-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dot.gray {
  background: #d0d0d0;
}

.dot.orange {
  background: #ffb03c;
}

.dot.green {
  background: #368a04;
}

.arrow {
  width: 10px;
  height: 10px;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  transform: rotate(45deg);
  transition: 0.2s ease;
}

.arrow.open {
  transform: rotate(-135deg);
}

.dropdown {
  position: absolute;
  top: 60px;
  width: 100%;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
  z-index: 10;
  color: var(--input-color);
}

.option {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 15px;
}

.option:hover {
  background: #f7f7f7;
}

.option.active {
  background: #f3f3f3;
}

.cursor-pointer {
  cursor: pointer;
}

/*loading*/
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
